<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_pagamento.tipo %>
</p>

<%= link_to 'Edit', edit_tipo_pagamento_path(@tipo_pagamento) %> |
<%= link_to 'Back', tipo_pagamentos_path %>
